*.pyc
*__pycache__/
build/
.ipynb_checkpoints/
dist/
*.egg*
*powerLog*.csv
*power_logs*.csv
emissions.csv
.DS_STORE
CarbonAImpact/requirements.txt
CarbonAImpact/test*
CarbonAImpact/mesure_power.py
*.zip
public
ignore
.vscode/
ignore*
docs/source/reference/api
.mypy_cache