*.pyc
*__pycache__/
build/
.ipynb_checkpoints/
dist/
*.egg*
*powerLog*.csv
*power_logs*.csv
emissions.csv
.DS_STORE
CarbonAI/requirements.txt
CarbonAI/test*
CarbonAI/mesure_power.py
*.zip
public
ignore
.vscode/
ignore*
docs/source/reference/api
.mypy_cache
