*.pyc
*__pycache__/
build/
.ipynb_checkpoints/
dist/
*.egg*
*powerLog*.csv
*power_logs*.csv
emissions.csv
.DS_STORE
PyPowerGadget/requirements.txt
PyPowerGadget/test*
PyPowerGadget/mesure_power.py
*.zip
public